/*------------------------------------*\
  FOOTER COMPONENT
\*------------------------------------*/
footer {
    .footer-container {
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: $color-secundary;

        &:first-child {
            background-color: $color-transparent;
        }
    }

    .uoc-container {
        background-color: $color-fourth;
        padding-top: 10px;
        padding-bottom: 10px;

        p {
            margin-bottom: 0;
        }
    }

    .fa-brands {
        color: $color-white;
    }
}