/*------------------------------------*\
  FORMS COMPONENT
\*------------------------------------*/
@use 'sass:map';

/*-------------------------------*\
  For all forms
\*-------------------------------*/
/*---------------------------*\
  Messages
\*---------------------------*/
.help-message > div {
    display: none;
    
    small {
        display: block;

        span {
            font-style: italic;
        }
    }
}

form {
    & fieldset > div:has(input:focus:required:invalid) {
        .help-message__required {
            display: block;
        }
    }

    & fieldset > div:has(input[pattern]:focus:invalid) {
        .help-message__pattern {
            display: block;
        }
    }
}



/*-------------------------------*\
  Big forms (inscription)
\*-------------------------------*/
.form {
    legend {
        margin-bottom: 15px;
    }

    fieldset :has(> div) {
        padding-right: 25px;
        padding-bottom: 15px;
        padding-left: 25px;
    }

    fieldset > fieldset {
        padding: 25px;
        
        &.row {
            flex-shrink: 1;
            width: auto;
            max-width: auto;
        }
    }

    label {
        position: relative;
        width: 100%;

        :is(span) {
            position: absolute;
            top: 20px;
            left: 12px;
            font-size: 16px;
            font-weight: map.get($font-family--weight, 'semibold');
            color: rgba($color-black, .5);
            pointer-events: none;
            transition: all .2s ease;
            transform: translate3d(0,0,0);
            transform-origin: 0 0;
        }
    }
    
    input:is([type=text], [type=email], [type=tel], [type=number]) {
        height: 56px;
        padding: 16px 12px 0 12px;
        border-radius: 0;
        box-shadow: inset 0 -1px 0 rgba($color-black, .3);

        &:hover {
            background: rgba($color-black, .04);
            box-shadow: inset 0 -1px 0 rgba($color-black, .5);
        }
      
        &:not(:placeholder-shown) {
            + span {
                color: rgba($color-black, .5);
                transform: translate3d(0,-12px,0) scale(.75);
            }
        }
      
        &:focus {
            background: rgba($color-black, .05);
            outline: none;
            box-shadow: inset 0 -2px 0 $color-primary;

            + span {
                color: $color-primary;
                transform: translate3d(0, -12px, 0) scale(.75);
            }
        }
    }

    select {
        height: 56px;
        border-radius: 0;
        box-shadow: inset 0 -1px 0 rgba($color-black, .3);
    }
}