/*------------------------------------*\
  INSCRIPTION COMPONENT
\*------------------------------------*/
.level {
    display: none;
}

.inscription__form {
    margin-top: 5dvh;
}

.inscription__message {
  position: fixed;
  top: calc(-50px - 106px);
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100dvw;
  height: 100dvh;
  background-color: $color-gray;
  display: none;

  &__status {
    @include center-content($top: 40%);
    color: $color-secundary;
    width: max-content;
  }
}