/*------------------------------------*\
  INSCRIPTION COMPONENT
\*------------------------------------*/
.level {
    display: none;
}

.inscription__form {
    margin-top: 5dvh;
}

.inscription__message {
  position: fixed;
  top: calc(-50px - 106px);
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100dvw;
  height: 100dvh;
  background-color: $color-gray;
  display: none;

  &__status {
    @include center-content($top: 40%);
    width: max-content;
    color: $color-secundary;

    &.success {
      background-color: $color-success;
      color: $color-black;
    }

    &.error {
      background-color: $color-error;
      color: $color-black;
    }
  }

  &__info {
    @include center-content($top: 70%);
    width: max-content;
    text-align: center;

    p {
      font-size: 20px;
      font-weight: bold;
    }
  }
}