/*------------------------------------*\
  MESSAGE FORM SUBMIT COMPONENT
\*------------------------------------*/
@use 'sass:map';

.message-form {
  position: fixed;
  top: calc(-50px - 106px);
  left: 50%;
  z-index: 100;
  display: none;
  width: 100dvw;
  height: 100lvh;
  text-align: center;
  background-color: $color-gray;
  transform: translate(-50%, 0%);

  &__title {
    @include center-content($top: 40%);
    width: fit-content;
    color: $color-secundary;

    &.success {
      color: $color-black;
      background-color: $color-success;
    }

    &.error {
      color: $color-black;
      background-color: $color-error;
    }
  }

  &__info {
    @include center-content($top: 70%);
    width: fit-content;

    p {
      font-size: 20px;
      font-weight: map.get($font-family--weight, 'bold');
    }
  }

  &__status {
    @include center-content();

    &__spinner {
      position: relative;
      display: inline-block;
      vertical-align: top;
      border: $symbol-thickness solid rgba(0, 0, 0, 0.2);
      border-left-color: $color-secundary;
      animation-name: loader-spin;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      
      &,
      &:after {
        width: $loader-size;
        height: $loader-size;
        border-radius: 50%;
      }
    

      &.success {
        border-color: $color-success;
        transition: border opacity 500ms ease-out;
        -webkit-animation: none;
        animation: none;

        .message-form__status__spinner__mark {
          &.draw:after {
            transform: scaleX(-1) rotate(135deg);
            animation-name: checkmark;
            animation-duration: 1.2s;
            animation-timing-function: ease;
          }

          &:after {
            position: absolute;
            top: $check-height;
            left: $check-left;
            width: $check-width;
            height: $check-height;
            content: '';
            border-top: $symbol-thickness solid $color-success;
            border-right: $symbol-thickness solid $color-success;
            opacity: 1;
            transform-origin: left top;
          }
        }
      }

      &.error {
        border-color: $color-error;
        transition: border opacity 500ms ease-out;
        -webkit-animation: none;
        animation: none;

        .message-form__status__spinner__mark {
          position: absolute;
          top: 50%;
          left: 50%;
          animation-name: crossmark;
          animation-duration: 1.2s;
          animation-timing-function: ease;

          &:before, &:after {
            position: absolute;
            top: -4lvh;
            width: 2px;
            height: 8lvh;
            content: '';
            background-color: $color-error;
          }

          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  20% {
    width: $check-width;
    height: 0;
    opacity: 1;
  }

  40% {
    width: $check-width;
    height: $check-height;
    opacity: 1;
  }

  100% {
    width: $check-width;
    height: $check-height;
    opacity: 1;
  }
}

@keyframes crossmark {
  0% {
    transform: scale(0%);
  }

  60% {
    transform: scale(110%);
  }
  
  100% {
    transform: scale(100%);
  }
}