/*------------------------------------*\
  UTILITIES
\*------------------------------------*/

@layer utilities {
    /*-------------------------------*\
      Bootstrap
    \*-------------------------------*/
    /*--------------------------*\
      Generals
    \*--------------------------*/
    :root {
        @include colorRGB(--bs-info-rgb, $color-secundary);
    }

    body {
        --bs-body-font-size: 1.1rem;
    }

    a {
        text-decoration: none;
    }

    ul {
        padding-left: 0;
    }

    .container {
        margin-top: 50px;
        margin-bottom: 75px;
    }

    .container--padding-2vw {
        @media (min-width: $width-xl) {
            @include make-container($padding-x: 2vw);
        }
    }

    .container-lg {
        padding: 0;
    }



    /*--------------------------*\
      Header
    \*--------------------------*/
    //Background nav
    .md-body-tertiary {
        --bs-bg-opacity: 0;
    }

    /*---------------------*\
      Size menu
    \*---------------------*/
    .offcanvas {
        --bs-offcanvas-width: 70vw;
        max-width: 200px;

        @media (min-width: $width-md) {
            max-width: fit-content;
        }
    }

    /*---------------------*\
      Toggle button
    \*---------------------*/
    .navbar-toggler {
        border: none;

        &:focus {
            box-shadow: none;
        }
    }



    /*-------------------------------*\
      Leaflet buttons
    \*-------------------------------*/
    .leaflet-control-container {
        display: none;
    }


    

    /*-------------------------------*\
      Chrome autofill
    \*-------------------------------*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000000s ease-in-out 0s;
    }
}