@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&family=Titillium+Web:wght@200;400;600;700&display=swap');

$font-family--logo: 'Bungee Inline', sans-serif;
$font-family--title: 'Bungee', -apple-system, 'BlinkMacSystemFont', 'Segoe UI',
'Roboto', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family--text: 'Titillium Web', -apple-system, 'BlinkMacSystemFont', 'Segoe UI',
'Roboto', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol';

$font-family--weight: ('thin': 200, 'regular': 400, 'semibold': 600, 'bold': 700);

$color-primary: #C1D12E;
$color-secundary: #414F0A;
$color-third: #FD7E14;
$color-fourth: #D4D4D4;
$color-black: #000;
$color-white: #FFF;
$color-transparent: color.adjust($color-fourth, $alpha: -0.8);
$color-gray: color.adjust($color-fourth, $alpha: -0.1);
$color-success: lch(81% 132 130);
$color-error: lch(50% 132 36);


$width-sm: 576px;
$width-md: 768px;
$width-lg: 960px;
$width-xl: 1200px;


/*StatusMark*/
$sin45: 0.70710678;
$loader-size: 10dvh;
$symbol-thickness: 3px;
$check-height: calc($loader-size / 2);
$check-width: calc($check-height / 2);
$check-left: calc($loader-size / 7 + $loader-size / 12);

/*Override Bootstrap*/
$primary: $color-primary;
$secondary: $color-secundary;
$info: $color-third;