<div class="card">
    <picture>                 
      <source srcset="/src/assets/images/players/player_1/player_1.webp" type="image/webp">
      <img src="/src/assets/images/players/player_1/player_1.jpg" class="card-img-top"  alt="Retrato Jose Carlos Figueroa">
    </picture>
    <div class="card-body">
      <h4 class="card-title">Jose Carlos Figueroa</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="modal fade" id="modal-player_1" tabindex="-1" aria-labelledby="modal-player_1-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-player_1-label">Jose Carlos Figueroa</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <ul class="list-group list-group-flush modal-body">
            <li class="list-group-item">Partidos jugados en Racquet League: </li>
            <li class="list-group-item">Ganado: </li>
            <li class="list-group-item">Perdido: </li>
            <li class="list-group-item">% de victorias: </li>
            <li class="list-group-item">Puntos: </li>
          </ul>
          <div class="modal__warning">
            <h3 class="modal__warning__info">La liga inicia el <time datetime="2024-01-13">13/01/2024</time></h3>
          </div>
        </div>
      </div>
    </div>       
    <div class="card-footer text-center p-3">
      <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modal-player_1">Más información</button>
    </div>
</div>