<div class="card rounded-0">
    <picture>                 
      <source srcset="/src/assets/images/players/player_8/player_8.webp" type="image/webp">
      <img src="/src/assets/images/players/player_8/player_8.jpg" class="card-img-top rounded-0"  alt="Retrato Benjamin Solis">
    </picture>
    <div class="card-body">
      <h5 class="card-title">Benjamin Solis</h5>
      <p class="card-text m-0">Tiempo jugando: 6 años.</p>
      <p class="card-text m-0">Nivel: A - 5.5.</p>
      <p class="card-text">Brazo hábil: derecho e izquierdo.</p>
    </div>
    <div class="modal fade" id="modal-player_8" tabindex="-1" aria-labelledby="modal-player_8-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-player_8-label">Benjamin Solis</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <ul class="list-group list-group-flush modal-body">
            <li class="list-group-item">Partidos jugados en Racquet League: </li>
            <li class="list-group-item">Ganado: </li>
            <li class="list-group-item">Perdido: </li>
            <li class="list-group-item">% de victorias: </li>
            <li class="list-group-item">Puntos: </li>
          </ul>
          <div class="modal__warning">
            <h3 class="modal__warning__info">La liga inicia el <time datetime="2024-01-13">13/01/2024</time></h3>
          </div>
        </div>
      </div>
    </div>       
    <div class="card-footer text-center p-3">
      <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modal-player_8">Más información</button>
    </div>
</div>