/*------------------------------------*\
  INSCRIPTION LAYOUT
\*------------------------------------*/

.inscription {
    container: inscription / inline-size;

    &__form {
        margin-top: 5dvh;
    }

    .level {
        display: none;
    }
}

@container inscription (min-width: 900px) {
    .inscription__form {
        max-width: 900px;
        margin: 0 auto;
        margin-top: 5dvh;
    }
}