<div class="front-page__container">
    <div class="front-page__container--display-grid">
        <div class="front-page__container__cite-container">
            <blockquote class="front-page__container__cite-container__cite">
                <p>Ganar o perder un partido depende de las ganas que tanto tengas de jugar el último tanto.</p>
                <p class="blockquote-footer">Björn Borg.</p>
            </blockquote>
        </div>
        <div class="front-page__container__cite-container">
            <blockquote class="front-page__container__cite-container__cite">
                <p>No creo que las cosas cambien por sí solas, las tienes que hacer cambiar y yo voy hacer lo posible por cambiar.</p>
                <p class="blockquote-footer">Rafa Nadal.</p>
            </blockquote>
        </div>
        <div class="front-page__container__cite-container">
            <blockquote class="front-page__container__cite-container__cite">
                <p>Si sufrimiento, no hay felicidad.</p>
                <p class="blockquote-footer">Rafa Nadal.</p>
            </blockquote>
        </div>
        <div class="front-page__container__cite-container">
            <blockquote class="front-page__container__cite-container__cite">
                <p>No puedo describir cuánto extraño el tenis. No es solo un trabajo para mí. Es un estilo de vida.</p>
                <p class="blockquote-footer">Janko Tipsarevic.</p>
            </blockquote>
        </div>
        <div class="front-page__container__cite-container">
            <blockquote class="front-page__container__cite-container__cite">
                <p>No puedes medir tu éxito si nunca has fallado.</p>
                <p class="blockquote-footer">Steffi Graf.</p>
            </blockquote>
        </div>
        <div class="front-page__container__cite-container">
            <blockquote class="front-page__container__cite-container__cite">
                <p>Lograr aquello que has soñado te hace feliz, pero sobretodo, te hace feliz recordar el esfuerzo empleado para lograrlo.</p>
                <p class="blockquote-footer">Rafa Nadal.</p>
            </blockquote>
        </div>

        <div class="front-page__container__logo">
            <include src="./views/header/logo.html"></include>
        </div>

        <div class="area-xs"></div>
        <div class="area-xs"></div>
        <div class="area-xs"></div>
        <div class="area-xs"></div>
        <div class="area-xs"></div>
        <div class="area-xs"></div>
        <div class="area-xs"></div>
        <div class="area-xs"></div>
        <div class="area-xs"></div>
        <div class="area-xs"></div>
        <div class="area-xs"></div>
        <div class="area-xs"></div>
        <div class="area-xs"></div>
        <div class="area-xs"></div>
        <div class="area-sm"></div>
        <div class="area-sm"></div>
        <div class="area-md"></div>
        <div class="area-md"></div>
        <div class="area-lg"></div>
        <div class="area-lg"></div>
        <div class="area-lg"></div>
        <div class="area-lg"></div>
        <div class="area-lg"></div>
        <div class="area-lg"></div>
        <div class="area-lg"></div>
        <div class="area-lg"></div>
        <div class="area-lg"></div>
        <div class="area-lg"></div>
    </div>
</div>