<header>
  <div class="container container-lg container-header">
    <nav class="navbar navbar-expand-md md-body-tertiary sticky-top nav">
      <div class="container-fluid">
        <a class="navbar-brand nav__link nav__link-brand m-0" href="/">
          <include src="views/header/logo.html"></include>
        </a>
        <button class="navbar-toggler nav__button-bars p-0 p-sm-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
        </button>
  
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 nav__list-links">
              <li class="nav-item">
                  <a class="nav-link nav__link nav__link-players" href="players.html">Participantes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav__link nav__link-about" href="about.html">Sobre la liga</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav__link nav__link-inscription" href="inscription.html">Inscripción</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
