/*------------------------------------*\
  HTML ELEMENTS
\*------------------------------------*/
@layer elements {
    /*-------------------------------*\
    Text elements
    \*-------------------------------*/
    h1 {
        @include text($font: $font-family--logo, $color: $color-white);
    }

    h2 {
        @include text($font: $font-family--title);
        margin-bottom: 25px;
    }

    h3 {
        @include text($font: $font-family--title);
    }

    h4 {
        @include text($font: $font-family--title);
    }

    html {
        container: general-page / inline-size;
    }

    @container general-page (width > 576px) {
        h1 {
            @include text($font: $font-family--logo,  $color: $color-white);
        }

        h2 {
            @include text($font: $font-family--title);
            margin-bottom: 25px;
        }
    
        h3 {
            @include text($font: $font-family--title);
        }
    }

    p,
    li,
    label,
    i,
    input,
    textarea {
        @include text();
    }

    a, button {
        @include text($color: none);
    }
}